<div class="itemsContainer" style="text-decoration: none;">
    <% items.forEach( (item, index) =>{  %>
        <!-- creates this thing for each one of the defined items -->

        
            <div class="item-container">
            <div class="inner-item-container">
                <div>
                    <a href="/<%= item.id %>" class="items-a-container">
                    <h1 class="dish-header">Dish:
                        <%= item.dish %>
                    </h1>
                </a>
                </div>
                <div id="ingredients-div">
                    <h2 class="ingredients-title">Ingredients:</h2>
                    <a href=""></a>
                    <p class="ingredients-p">
                        <a href="/<%= item.id %>" class="link_to_items">
                        <%= item.ingredients %>
                    </p>
                </a>
                </div>


                <div id="recepie-div">
                    <h2 class="recepie-title">Recepie:</h2>
                    <a href="/<%= item.id %>" class="link_to_items">
                    <p class="recepie-p">
                        <%= item.recepie %>
                    </p>
                </a>
                </div>


                <!-- <div id="image-div">
                    <p class="item" style="font-size: larger; font-weight: bold; color: black;">Image: </p>
                    <p class="item-below">
                    
                    </p>
                </div> -->


                <div class="edit-and-delete-index-container">
                    <div class="delete-button-index">
                        <form class="delete-button-text-index" action="/<%= item.id %>?_method=DELETE" method="POST">
                            <input  class="delete-input" type="submit" value="DELETE ENTRY" />
                        </form>
                    </div>
                    <div id="edit-div-index">
                        <a href="/<%= item.id %>/edit" class="edit-text-index">EDIT ENTRY</a>
                    </div>

                </div>
            </div>
        </div>
            <% }) %>

</div>