<% items.forEach( (item, index) =>{ console.log(item)  %>
<div class="itemContainer" style="text-decoration: none;">
  <a href="/meal/<%= item.id %>" id="items-a-container">
    <div>
      <h1 class="item-dish" style="color: black;">Dish: <%= item.dish %></h1>
    </div>

    <div id="ingredients-div" >
      <p class="item" style="font-size: larger; font-weight: bold; color: black;">Ingredients:</p>
      <p class="item-below" style="color: black;"><%= item.ingredients %></p>
    </div>


    <div id="recepie-div">
      <p class="item" style="font-size: larger; font-weight: bold; color: black;">Recepie:</p>
      <p class="item-below"><%= item.recepie %></p>
    </div>


    <div id="image-div">
      <p class="item" style="font-size: larger; font-weight: bold; color: black;">Image: </p>
      <p class="item-below"><%= item.image %></p>
    </div>


<div id="edit-and-delete">
    <div id="delete-button" > 
        <form id="delete-button-text" action="/meal/<%= item.id %>?_method=DELETE" method="POST" >
        <input type="submit" value="DELETE ENTRY" />
      </form>
    </div>
 <div id="edit-div">
    <a href="/meal/<%= item.id %>/edit" class="edit-text">EDIT ENTRY</a>
 </div>
  
</div>
  <% }) %>
</div>
