

<div>
  <p>Tittle: <%= item.title %></p>
  <p>Prompt: <%= item.prompt %></p>
  <p>ZipFile: <%= item.zipFile %></p>
  <p>Description: <%= item.description %></p>
  <p>VideoFile: <%= item.videoFile %></p>
</div>
<a href="/chunks">HOME</a>
