

<div id="edit-item-title">
  <h1>Edit Item</h1>
</div>


<form action="/<%= item.id %>?_method=PUT" method="POST" class="form-edit_container">
    <label for="dish" class="editLabel">Dish:</label>
<div id="edit-title-div">
    <textarea type="text" name="dish" id="dish"><%=item.dish%></textarea>
</div>



<label for="ingredients" class="editLabel">Ingredients:</label>
<div id="edit-ingredients-div">
    <textarea type="text" name="ingredients" id="ingredients" ><%=item.ingredients%></textarea>
</div>

<label for="recepie" class="editLabel">Recepie:</label>
<div id="edit-recepie-div">
   
    <textarea type="text" name="recepie" id="recepie"><%=item.recepie%></textarea>
  </div>


  <label for="image" class="editLabel">Image:</label>
<div id="edit-images-div">  
    <!-- <textarea type="text" name="image" id="image"value="<%=item.image%>"></textarea> -->

  <form action="/" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label class="new-item-field-label" for="Select Image:"
        >Upload Image:</label>
        <label class="new-item-field-label-under" for="Select Image:"
        >Must be PNG</label>
          <input type="file" name="image" class="form-control" id="">
      </div>
      <br>
      <div class="form-group">
          <button id="create-item-input">
              Upload Image
          </button>
      </div>
      <input id="create-item-input" type="submit" value="Submit the Edit" />
  </form>

</div>

    <!-- <input class='submit-edit' type="submit" value="Submit the Edit" /> -->
  <!-- </form> -->
  <!-- {{#if success}}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Success!</strong> Your Image File is Uploaded.
        </div>
        {{/if}} -->
</div>