

<div id="edit-item-title">
  <h1>Edit Item</h1>
</div>


  <form action="/meal/<%= item.id %>?_method=PUT" method="POST">


<br>
<div id="edit-title-div">
    <label for="dish">Dish:</label>
    <textarea type="text" name="dish" id="dish" value="<%=item.dish%>"></textarea>
</div>

<br>




    <label for="ingredients">Ingredients:</label>
    <textarea type="text" name="ingredients" id="ingredients" style="height: 4rem; width: 15rem; margin-top: 1em;" value="<%=item.ingredients%>"></textarea>
<br>





    <label for="recepie">Recepie:</label>
    <textarea type="text" name="recepie" id="recepie" style="margin-top: 1em;" value="<%=item.recepie%>"></textarea>
<br>





    <label for="image">Image:</label>
    <textarea type="text" name="image" id="image"  style="height: 4rem; width: 15rem; margin-top: 1em;" value="<%=item.image%>"></textarea>
<br>


    <input type="submit" value="Submit the Edit" style="margin-top: 1em;" />
  </form>
</div>