

<div id="edit-item-title">
  <h1>Edit Item</h1>
</div>


  <form action="/chunks/<%= item.id %>?_method=PUT" method="POST">


<br>
<div id="edit-title-div">
    <label for="title">Title:</label>
    <textarea type="text" name="title" id="title" value="<%=item.name%>"></textarea>
</div>

<br>




    <label for="prompt">Prompt:</label>
    <textarea type="text" name="prompt" id="prompt" style="height: 4rem; width: 15rem; margin-top: 1em;" value="<%=item.prompt%>"></textarea>
<br>





    <label for="zipFile">Zip File:</label>
    <textarea type="text" name="zipFile" id="zipFile" style="margin-top: 1em;" value="<%=item.zipFile%>"></textarea>
<br>





    <label for="description">Description:</label>
    <textarea type="text" name="description" id="description"  style="height: 4rem; width: 15rem; margin-top: 1em;" value="<%=item.description%>"></textarea>
<br>



    <label for="VideoFile">Video File: </label>
    <textarea type="text" name="videoFile" id="videoFile" style="margin-top: 1em;" value="<%=item.videoFile%>"></textarea>
<br>



    <input type="submit" value="Submit the Edit" style="margin-top: 1em;" />
  </form>
</div>